body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin:0; padding:0; 
}

.container {
    width: 950px;
    margin: 0 auto; 
    background-color: white;
    padding: 0px;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

 
.wrap {
    width:980px;
    margin:0 auto;
}
.header { 
    height:70px;
    margin-bottom:15px;
    background-color:#F3E5F5;
    border:2px solid black;
}
.content {
    width:690px;
    height:450px;
    padding: 10px;
    background-color:#F3E5F5;
    border:3px solid black;
    overflow:scroll;
    float:right;
}
.center {
    display:inline-block;
}
.slider {
    padding: 25px;   
}
.sidebar {
    width:275px;
    height:450px;
    padding: 10px;
    background-color:#F3E5F5;
    border:3px solid black;
    float:left;
}
.footer {
    height:50px;
    margin-top:15px;
    background-color:#F3E5F5;
    border:3px solid black;
}
.card {
    background-color: white;
    padding: 60px;
    padding-top:50px;
    border-radius: 5px;
    margin-top: 70px;
    margin-right: 70px;

}
.clear {
    clear:both;
}